version: '3.8'

services:
  web:
    # Используем Ваш существующий Dockerfile
    build: . 
    image: junior-devops-site:latest
    container_name: junior-devops-site-web-1
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      # Общий том для webroot и Certbot challenge
      - ./html:/var/www/html
      # Общий том для хранения ключей Certbot
      - ./certs:/etc/letsencrypt
    # Используем временный конфиг для первого запуска (чтобы Nginx не упал без ключей)
    command: /bin/sh -c "cp /usr/share/nginx/html/nginx.temp.conf /etc/nginx/conf.d/default.conf && while :; do sleep 6h & wait $${!}; done"

  certbot:
    image: certbot/certbot
    container_name: junior-devops-site-certbot-1
    volumes:
      - ./html:/var/www/html
      - ./certs:/etc/letsencrypt