body {
  font-family: "Helvetica";
  background-color: #f5f5f5;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  margin: 40px 0;
}

.header__avatar {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  border: 4px solid transparent; /* по умолчанию без обводки */
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.header__avatar:hover {
  border: 4px solid #4682B4; /*  */
  box-shadow: 0 0 12px rgba(179, 107, 240, 0.4);
}

.header__title {
  margin: 30px 0 10px 0;
  font-size: 32px;
  line-height: 1.2;
  font-family: "Helvetica Neue";
  width: 600px;            /* выравниваем по контейнеру */
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.header__subtitle {
  color: #8f8f8f;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  font-weight: normal;
  width: 600px;            /* та же ширина */
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.links {
  width: 600px;
  margin: 0 auto 40px;
}

.links__header {
  width: 600px;
  margin: 0 auto 15px;
  font-family: "Helvetica Neue";
  font-size: 24px;
  line-height: 1.4;
}

.links__container {
  list-style-type: none;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 20px 10px;
  gap: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
  box-sizing: border-box;
  margin: 0 auto;
  width: 600px; /* например, фиксированная ширина */
}

.links__link,
.links__title {
  font-size: 16px;
  font-size: 1.4;
}

.links__link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 0px 10px;
  gap: 30px;
  border-bottom: 1px solid #dadada;
  width: 540px;
}

.links__link:last-child {
  border-bottom: none;
}

.linsk__link {
  color: #4682B4; /* базовый сиреневый */
  text-decoration: none;
  transition: color 0.3s ease;
}



.links__title {
  margin: 0;
  min-width: 100px;
}

footer {
  margin: 0 0 40px 0;
}
.button-link {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 350px;
  background: #4682B4;
  border-radius: 20px;

  font-size: 14px;
  line-height: 1.4;

  color: #ffffff;
  text-decoration: none;
}
