*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --max-width: 600px; 
}

body {
  font-family: "Helvetica";
  background-color: #f5f5f5;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  padding: 10px; 
}

.header {
  margin: 40px 0;
  width: 90%; 
  max-width: var(--max-width);
  display: flex; 
  flex-direction: column;
  align-items: center; 
}

.header__avatar {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  border: 4px solid transparent; 
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.header__avatar:hover {
  border: 4px solid #4682B4;
  box-shadow: 0 0 12px rgba(179, 107, 240, 0.4);
}

.header__title {
  margin: 30px 0 10px 0;
  font-size: 32px;
  line-height: 1.2;
  font-family: "Helvetica Neue";
  max-width: var(--max-width);
  width: 100%;
  text-align: center; 
}

.header__subtitle {
  color: #8f8f8f;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  font-weight: normal;
  max-width: var(--max-width);
  width: 100%;
  text-align: center; 
}

.links {
  max-width: var(--max-width); 
  width: 100%; 
  margin: 0 auto 40px;
  padding: 0 5%; 
}

.links__header {
  max-width: var(--max-width); 
  width: 100%; 
  margin: 0 auto 15px;
  font-family: "Helvetica Neue";
  font-size: 24px;
  line-height: 1.4;
}

.links__container {
  list-style-type: none;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 20px 10px;
  gap: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0 auto;
  width: 100%; 
}

.links__link,
.links__title {
  font-size: 16px;
  line-height: 1.4;
}

.links__link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 0px 10px;
  gap: 30px;
  border-bottom: 1px solid #dadada;
  width: 100%;
}

.links__link:last-child {
  border-bottom: none;
}

.linsk__link {
  color: #4682B4; 
  text-decoration: none;
  transition: color 0.3s ease;
}

.links__title {
  margin: 0;
  min-width: 100px;
  
}

footer {
  margin: 0 0 40px 0;
}

.button-link {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 350px;
  background: #4682B4;
  border-radius: 20px;
  font-size: 14px;
  line-height: 1.4;
  color: #ffffff;
  text-decoration: none;
}


@media (max-width: 650px) {
  /
  .links__link {
    flex-direction: column; 
    gap: 5px; 
    padding-bottom: 15px;
  }
  
  .links__title {
    width: auto; 
  }
  
  .links__container {
    padding: 15px; 
  }

  .header__avatar {
    width: 250px;
    height: 250px;
  }
}