name: Continuous Deployment to Hetzner

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      
      - uses: actions/checkout@v4
        
      - id: vars
        run: |
          TAG_SHA=$(echo $GITHUB_SHA | cut -c1-8)
          echo "tag=$TAG_SHA" >> $GITHUB_OUTPUT

              
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

              
      - uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/junior-devops-site:${{ steps.vars.outputs.tag }}

   
      - uses: appleboy/ssh-action@v1.0.1
          with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /opt/junior-devops-site
            
            echo "
            version: '3.8'
            services:
              web:
                image: ${{ secrets.DOCKER_USERNAME }}/junior-devops-site:${{ steps.vars.outputs.tag }}
                ports:
                  - \"80:80\"
                restart: always
              " > docker-compose.yml
              
              docker compose pull
              docker compose up -d --remove-orphans
              docker ps    
            